.form-container-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .header-up {
    display: flex;
    justify-content: flex-end; /* Align header to the left */
    width: 100%;
    margin-left: 500px;
    margin-top: 5%;
    margin-bottom: -40px;
  }
  
  .form-card-up {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%; /* Adjust width as necessary */
    max-width: 600px; /* Limit the width */
    margin-bottom: 10%;
  }
  
  .form-item-up {
    margin-bottom: 15px;
  }
  
  .form-item-up label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-item-up input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .button-up{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-up:hover {
    background-color: #45a049;
  }
  